#content-area {
	position: relative;
}

.vs-con-loading__container {
	overflow: initial;
}

.vs-con-loading__container .con-vs-loading {
	justify-content: start;
}

.vs-notifications {
	max-width: initial !important;
}
